<div class="alert alert-danger" role="alert" *ngIf="thereIsError">
  Erro obtendo dados. Tente novamente.
</div>
<div class="container-xl m-xl-auto d-flex flex-wrap justify-content-center vh-md-100 my-5 mx-md-5 w-100 p-sm-0">
  <div class="col-12 col-xl-6 d-flex justify-content-center">
    <h2 class="mt-5 pt-3" *ngIf="!converterInfo">Nenhum Resultado...</h2>
    <div class="" *ngIf="converterInfo">
      <div class="d-flex flex-column">
        <h3>Em {{ converterData.date | dataBr }}</h3>

        <h2>
          {{ converterData.value }}
          {{ converterData.currencyFrom }}
          =
          {{ converterData.converterValue }}
          {{ converterData.currencyTo }}
        </h2>
      </div>

      <div class="d-flex align-self-center mb-2">
        <button type="button" class="btn btn-primary" (click)="newQuoteQuery()">
          Nova consulta
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body text-center col-12 col-xl-6">
    <form class="form-group d-flex flex-column" [formGroup]="converterForm" (ngSubmit)="convert()">
      <label for="value" class="align-self-start mb-2">
        Selecione o valor a ser convertida
      </label>

      <input id="value" onlyNumber type="number" name="value" class="px-3 form-control text-right mb-2 w-100"
        placeholder="0" required formControlName="value">

      <label for="currencyFrom" class="align-self-start my-2">
        Selecione a moeda a ser convertida
      </label>

      <select id="currencyFrom" name="currencyFrom" class="form-select mb-2 w-100" required
        formControlName="currencyFrom">
        <option *ngFor="let currency of currencies" [value]="currency.initials">
          {{ currency.initials }} - {{ currency.description }}
        </option>
      </select>

      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <select name="currencyTo" class="form-select mb-2 w-100" required formControlName="currencyTo">
        <option *ngFor="let currency of currencies" [value]="currency.initials">
          {{ currency.initials }} - {{ currency.description }}
        </option>
      </select>

      <input type="submit" value="Converter" class="btn btn-success" [disabled]="!converterForm.valid">
    </form>
  </div>
</div>
